node_modules/
coverage/
.idea/
.idea_modules/
.watsonrc
.editorconfig
.settings*
.cache
.DS_Store
.profile
*.swp
*.log
*.patch
*.bak
*.iml
*.ipr
*.iws
ErrorLog.txt
npm-debug.log
Thumbs.db

Application/Admin
Application/Common/Api
Application/Common/Behavior
Application/Common/Conf
Application/Common/Controller
Application/Home/Common
Application/Home/Conf
Application/Home/Cron
Application/Home/Logic
Application/Home/Widget
Data/
Plugins/
Public/
Uploads/
Runtime/
ThinkPHP/
logs/*
WxpayAPI/
install.php
admin.php
index.php
bom.php
cleancache.php
license.txt
log.php
logo.png
minify.php
readme.txt
info.txt
error.txt
install.sql
uninstall.sql
