node_modules/
coverage/
.idea/
.idea_modules/
.watsonrc
.editorconfig
.settings*
.cache
.DS_Store
.profile
*.swp
*.log
*.patch
*.bak
*.iml
*.ipr
*.iws
ErrorLog.txt
npm-debug.log
Thumbs.db

Application/Admin
Application/Common/Conf
Application/Home/Common
Application/Home/Conf
Application/Home/Cron
Application/Home/Logic
Application/Home/Widget
Data/
Plugins/AliPlay
Plugins/BaiduStatistics
Plugins/DevTeam
Plugins/Editor
Plugins/News
Plugins/SiteStat
Plugins/SystemInfo
Plugins/Attachment
Plugins/Cascade
Plugins/DynamicSelect
Plugins/ReturnTop
Plugins/SocialComment
Public/Admin/
Public/Install/
Public/scene/
Public/static/
Uploads/
Runtime/
ThinkPHP/
logs/*
WxpayAPI/cert/
WxpayAPI/lib/
WxpayAPI/logs/
WxpayAPI/doc/
install.php
admin.php
bom.php
cleancache.php
license.txt
log.php
logo.png
minify.php
readme.txt
info.txt
error.txt
install.sql
uninstall.sql
