<extend name="Base/no_side_common" />
<block name="body">
  <div class="wrap">
<section id="contents">
  <style type="text/css">
  		.audit_tips{ text-align:center; padding:200px 0;}
		.audit_tips img{ border:7px solid #44b549; border-radius:50px; width:65px; height:65px;}
  </style> 
  <div class="tab-content" style="margin-top:20px">
      <p class="audit_tips">
        <img src="__IMG__/check_right.png"/><br/>
         该账号的配置信息已提交!<br/>我们的工作人员将在数个工作日内对信息进行审核，请耐心等待。
         <br/>
         <br/>
      </p>
  </div>
</section>
</block>
