<extend name="Base/login_base" />
<block name="body">
<section class="reg_box small_wrap about_wrap">
	
    <div class="about_content">
    	<h4>关于乐摇</h4>
        <p>
            乐摇是深圳圆梦云科技有限公司深度结合电视媒体行业特征，而打造的一款第三方微信摇电视，行业解决方案。通过简单的一个动作——摇一摇，便可轻松连接两个行业，电视媒体与移动互联网。
        </p>
        <p>
    		同时乐摇作为国内领先的摇电视解决方案平台，能够为电视媒体提供基于微信公众平台的一系列功能，如微信卡券、优惠券、微调研、刮刮卡、微邀约、幸运大转盘、互动游戏、微抢答、微网站、微商城、微调研等。也能够为客户提供，定制特殊功能的专业服务。通过这些功能，让电视媒体拥有更多的互动形式和更广泛的关注，让互动更具商业价值和想象空间。
        </p>
        <p>
        	通过与南方卫视以及其他大型客户一年多的深度合作，我们得到合作卫视方面的一致好评。乐摇未来还将与全国各地面频道进行广泛合作，为践行习总书记提出的媒体融合发展思路进行不懈努力。
        </p>
        
    </div>
    
</section>
</block>
<block name="script">
</block>
